{% extends 'base.html' %}
{% block content %}


<h1>Legislators for {{ state }}</h1>
<p></p>
<div>
<ul>

	<!-- for keys from first dict in JSON list -->
   	{% for key in leg_details[0] %}
	<!-- show key -->
		{{ key }}
		
<!-- {% set x = leg_details[0] %}
<b>{{ x['first_name']}}</b>
{% for key in leg_details %}
    {{loop.index}}
    {% if key %}
     <li>Name | <a href="http://twitter.com/{{key['twitter_id']}}">{{ key['last_name'] }}</a><br>
     	{{ key['first_name'] }}</li></br>
    {% endif %}
 -->
<!-- {# 
when clicked, sent to route page to show details
<a href="/get-full-profile/{{ the unique id for this person  }}" > Get Full Profile</a> 

Like: <a href="/user_details/{{ user.user_id }}"> 
{{ user.email }} ({{ user.user_id }}) 
#} -->

	{% endfor %}
</ul>
</div>

<div>
		

	</div>


{% endblock %}


