{% extends 'base.html' %}
{% block content %}

<head>

    <link rel="stylesheet" href="style.css" />
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css" rel="stylesheet">
    <title>Hackbright Project</title>
    <meta charset="utf-8">
    <style type="text/css">

</head>

<div>
var map_content = document.querySelector('link[rel="import"]').import;
</div>

<h1>States Where {{ word }} is Most Frequently Used</h1>
<br>
<div>
<ul>	
	{% for states in us_topwords_usedwhere %}
    
    <li>{{ states['state'] }}</li></br>
   	
   	{% endfor %}
</ul>
</div>

<!-- {# 
when clicked, sent to route page to show details
<a href="/get-full-profile/{{ the unique id for this person  }}" > Get Full Profile</a> 

Like: <a href="/user_details/{{ user.user_id }}"> 
{{ user.email }} ({{ user.user_id }}) 
#} -->


{% endblock %}


